.container {
  border-top: 1px solid var(--borderColor);
  padding-top: 0;
  background-color: none;
  @media (max-width: 768px) {
    border-top: none;
    padding: 0;
  }
}
.errorContainer {
  @media (max-width: 768px) {
    background-color: var(--white);
    padding: 1.2rem 0;
  }
}
