.embla {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  margin-bottom: 8px;
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
}

.fullscreenButton {
  background-color: var(--white);
  padding: 8px 10px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border: 1px solid var(--text-default);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
