.table {
  width: 100%;
  border: 1px solid var(--grey-border);
  border-radius: 8px;
  border-spacing: 0;
  overflow: hidden;
}

.thead {
  background-color: var(--bg-blue);
}

.th {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-default);
}

.td {
  padding: 16px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-default);
}

.tr:nth-child(even) {
  background-color: var(--bg-surface-mid);
}

.tr:nth-child(odd) {
  background-color: var(--white);
}
