.grid {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.titleAnchor {
  text-decoration: none;
}
.partnerAnchorRoot {
  font-weight: 400;
  font-size: rem(16px);
  color: var(--text-grey);
  text-decoration: none;
}
.partnerAnchorUnderline {
  text-decoration: underline;
}
