.title-1 {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(24);
  }
}
.title-2 {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(20);
  }
}
.title-3 {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(18);
  }
}
