.label {
  color: var(--text-grey);

  @media (min-width: $mantine-breakpoint-sm) {
    text-align: right;
  }
}

.labelText {
  line-height: 26px;
}

.value {
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 0;
  color: var(--text-default);
}
