.modalClose {
  color: var(--mantine-color-white);
}
.modalContent {
  --mb-padding: 0;
  border-radius: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modalHeader {
  flex: 0 1 auto;
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  background-color: var(--mantine-color-black);
  color: var(--mantine-color-white);

  & p {
    font-size: rem(14px);
  }
  width: 100%;
}
.modalHeaderContent {
  margin-left: auto;
}
.closeButton {
  margin-left: auto;
  color: var(--mantine-color-white);
}
.modalBodyControlsContainer {
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  & button {
    padding: 10px 10px;
    width: 44px;
    height: 44px;
    background-color: var(--bg-surface);
  }
}
.modalBodyInner {
  padding: 32px 14px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  & img {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    max-height: 100%;
    max-width: 100%;
  }
}
.modalBody {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100% - 80px);
}
.modalTitle {
  font-size: rem(24px);
  line-height: 1.25;
  font-weight: 600;
  color: var(--mantine-color-white);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(20px);
  }
}
