.unselected {
  opacity: 0.5;
}
.dot {
  height: 8px;
  width: 8px;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  background-color: var(--mantine-color-blue-8);
}

.container {
  display: flex;
  gap: 4px;
  justify-content: center;
}
