.container {
  display: flex;
  justify-content: center;
  gap: 6px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  margin-bottom: 16px;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  background-color: var(--text-grey);
}

.dot.active {
  background-color: var(--white);
}
