.root {
  position: relative;
  background-color: var(--bg-surface-dark);
  border-bottom: 1px solid var(--grey-border);
  height: 60px;
  padding: 8px 24px 8px 12px;
  z-index: 999;
}

.infoContainer {
  color: var(--text-default);
  font-size: rem(18px);
}
.section {
  font-size: rem(18px);
}
.separator {
  font-size: rem(18px);
  color: var(--grey-border);
}
.client {
  font-weight: 700;
}
.logo {
  display: inline-flex;
  align-items: center;
  height: 44px;
  width: 44px;
}
.nav {
  display: inline-flex;
  align-items: center;
  gap: 28px;
}
.skipLink {
  width: 0px;
  height: 0px;
  &:focus {
    outline: none;
  }
}
