.root {
  position: relative;
  background-color: var(--bg-surface-dark);
  border-bottom: 1px solid var(--grey-border);
  height: 60px;
  padding: 8px 24px 8px 12px;
  z-index: 999;
}

.infoContainer {
  color: var(--text-default);
  font-size: rem(18px);
}
.section {
  font-size: rem(18px);
}
.separator {
  font-size: rem(18px);
  color: var(--grey-border);
}
.client {
  font-weight: 700;
}
.logo {
  height: 44px;
  width: 44px;
}
.nav {
  display: inline-flex;
  align-items: center;
  gap: 28px;
  position: relative;
}

.skipLinkButton {
  font-size: rem(16px);
  padding: 8px 24px;
  border-radius: 6px;
  position: absolute;
  left: -9999px;
  z-index: 99999;
  top: 60px;
  background-color: var(--white);
  &:focus,
  &:focus-visible {
    left: 12px;
    outline: 1px solid rgba(32, 32, 32, 0.5);
    outline-offset: rem(2px);
    border-radius: 6px;
  }
}
